.Descriptions .title-text{
	text-decoration: underline;
	text-decoration-color: pink;
	text-align: center;
	letter-spacing: 1px
}

.Descriptions .sub-text {
	text-align: left;
	margin-top: 1.5rem;
	letter-spacing: 2px;
	color: grey
}