.Splash{
  text-align: center;
  height: 100vh;
  background: url('../images/pets.jpg');
  background-size: cover;
  background-position: center;
  text-decoration: underline;
  text-decoration-color: pink;
  border-bottom: 3px
}

.Splash .text {
	color: white;
	font-weight: 700;
}

.Splash .primary {
	font-size: 5rem;
	padding-top: 12vh;
}

.Splash .secondary {
	font-size: 3rem;
}